 body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background: linear-gradient(135deg, #2b2d6e, #8a2c5f);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding: 40px;
}

       
.container {
    width: 450px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    padding: 25px;
    color: white;
    backdrop-filter: blur(10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
        }

h2 {
    text-align: center;
    margin-bottom: 20px;
}

      
.upload-box {
    display: block;
    padding: 12px;
    border: 2px dashed #fff;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 15px;
}

input[type="file"] {
    display: none;
}

select, button {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}

button {
    background: #ffd000;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #ffbf00;
}

      
.preview {
    margin-top: 20px;
}

.preview img {
    width: 100%;
    border-radius: 10px;
    background: white;
}

       
#infoBox h3 {
    color: #ffd000;
    margin-bottom: 10px;
 }

#infoBox p {
    line-height: 1.6;
}